addon_files/redmatic/var/example-flows.json
[{"id":"427fc89b.e34038","type":"tab","label":"Variablen","disabled":false,"info":""},{"id":"b47e4440.f97278","type":"tab","label":"Programme","disabled":false,"info":""},{"id":"cdb7abff.3cf718","type":"tab","label":"Geräte","disabled":false,"info":""},{"id":"4f28065f.6e1fb8","type":"tab","label":"DutyCycle","disabled":false,"info":""},{"id":"d2aa9e3f.51894","type":"tab","label":"UNREACH Meldungen","disabled":false,"info":""},{"id":"d93ee77.7acbf18","type":"tab","label":"UNREACH unterdrücken","disabled":false,"info":""},{"id":"937d90ca.8d8b","type":"ui_group","z":"","name":"Duty Cycle","tab":"8153eb0.fe96118","disp":true,"width":"6","collapse":false},{"id":"8153eb0.fe96118","type":"ui_tab","z":"","name":"Funk","icon":"dashboard","order":4},{"id":"dd8cb1a4.10e1b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38263145.35ea0e","type":"ccu-connection","z":"","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048"},{"id":"36fb2145.947dee","type":"ui_tab","z":"","name":"Variablen","icon":"dashboard","order":2},{"id":"46fbe67a.90cd18","type":"ui_group","z":"","name":"Variablen","tab":"36fb2145.947dee","disp":true,"width":"6","collapse":false},{"id":"40844f8.1cf98b","type":"ui_group","z":"","name":"UNREACH","tab":"8153eb0.fe96118","disp":true,"width":"6","collapse":false},{"id":"ef72ce25.023af","type":"ui_tab","z":"","name":"Programme","icon":"dashboard","order":3},{"id":"159fd603.b44a6a","type":"ui_group","z":"","name":"Programme","tab":"ef72ce25.023af","disp":true,"width":"6","collapse":false},{"id":"fe205248.f04ed","type":"ui_tab","z":"","name":"Geräte","icon":"dashboard","order":1},{"id":"65a72644.483318","type":"ui_group","z":"","name":"Virtuelle Taste BidCoS-RF:1","tab":"fe205248.f04ed","disp":true,"width":"6","collapse":false},{"id":"cb73e4c8.3727f8","type":"ccu-rpc","z":"4f28065f.6e1fb8","name":"RPC listBidcosInterfaces","ccuConfig":"38263145.35ea0e","iface":"BidCos-RF","method":"listBidcosInterfaces","params":"[]","topic":"${CCU}/${Interface}/${Method}","x":290,"y":240,"wires":[["f1401630.4984a8"]]},{"id":"e638976b.ab6b08","type":"inject","z":"4f28065f.6e1fb8","name":"Intervall 30 sek","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"3","x":160,"y":180,"wires":[["cb73e4c8.3727f8"]]},{"id":"f1401630.4984a8","type":"function","z":"4f28065f.6e1fb8","name":"[0].DUTY_CYCLE","func":"msg.payload = msg.payload[0].DUTY_CYCLE;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["b1f9846d.fff208","8ade4d23.4950b"]]},{"id":"b1f9846d.fff208","type":"ui_chart","z":"4f28065f.6e1fb8","name":"Chart","group":"937d90ca.8d8b","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":630,"y":280,"wires":[[],[]]},{"id":"8ade4d23.4950b","type":"ui_gauge","z":"4f28065f.6e1fb8","name":"Gauge","group":"937d90ca.8d8b","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":630,"y":320,"wires":[]},{"id":"b289d39d.59bd4","type":"comment","z":"4f28065f.6e1fb8","name":"Duty Cycle abfragen und im Dashboard anzeigen","info":"Dieser Flow fragt in Intervallen \nvon 30 sekunden den Duty Cycle des \nersten Funk-Interfaces des BidCos-RF\nSchnittstellenprozess (\"rfd\") per RPC ab \nund visualisiert ihn in Node-RED Dashboard.","x":260,"y":120,"wires":[]},{"id":"47f3f478.640c5c","type":"ccu-sysvar","z":"427fc89b.e34038","name":"Anwesenheit","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","x":170,"y":160,"wires":[["b3da3d67.ac252"]]},{"id":"b3da3d67.ac252","type":"ui_dropdown","z":"427fc89b.e34038","name":"","label":"Anwesenheit","place":"Select option","group":"46fbe67a.90cd18","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"Anwesend","value":true,"type":"bool"},{"label":"Nicht Anwesend","value":false,"type":"bool"}],"payload":"","topic":"","x":170,"y":240,"wires":[["47f3f478.640c5c"]]},{"id":"5da436cf.4224d8","type":"ccu-sysvar","z":"427fc89b.e34038","name":"Alarmzone 1","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","x":370,"y":160,"wires":[["7b93d1b2.faa49"]]},{"id":"7b93d1b2.faa49","type":"ui_dropdown","z":"427fc89b.e34038","name":"","label":"Alarmzone 1","place":"Select option","group":"46fbe67a.90cd18","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"Ausgelöst","value":true,"type":"bool"},{"label":"Nicht Ausgelöst","value":false,"type":"bool"}],"payload":"","topic":"","x":370,"y":240,"wires":[["5da436cf.4224d8"]]},{"id":"fb6b7ffa.381d5","type":"comment","z":"427fc89b.e34038","name":"Dashboard Dropdown für Anwesenheit- und Alarm-Variable","info":"","x":300,"y":100,"wires":[]},{"id":"53c6bf49.7e356","type":"ccu-rpc-event","z":"d93ee77.7acbf18","name":"RPC event UNREACH","iface":"BidCos-RF","ccuConfig":"38263145.35ea0e","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","datapoint":"UNREACH","datapointRx":"str","change":true,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":140,"y":180,"wires":[["de60fd20.e5bc9"]]},{"id":"de60fd20.e5bc9","type":"function","z":"d93ee77.7acbf18","name":"Event mit UNREACH false erzeugen","func":"const channels = [\n    'Zwischenstecker Weihnachtsbaum:0'\n];\n\nif (msg.payload && channels.includes(msg.channelName)) {\n    msg.payload = ['nr', msg.channel, 'UNREACH', false];\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["1625b35a.ee815d"]]},{"id":"1625b35a.ee815d","type":"ccu-rpc","z":"d93ee77.7acbf18","name":"ReGaHSS RPC","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","method":"event","params":"","topic":"${CCU}/${Interface}/${Method}","x":460,"y":300,"wires":[[]]},{"id":"6b8ec179.3a798","type":"comment","z":"d93ee77.7acbf18","name":"UNREACH Servicemeldungen für bestimmte Geräte unterdrücken","info":"","x":300,"y":100,"wires":[]},{"id":"a1b2374.11f4ec8","type":"comment","z":"d2aa9e3f.51894","name":"Anzahl und Liste von nicht erreichbaren Geräten im Dashboard anzeigen","info":"","x":350,"y":120,"wires":[]},{"id":"fbec45f2.934d78","type":"ccu-program","z":"b47e4440.f97278","name":"TestPrg1","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","x":200,"y":120,"wires":[["703e3585.017a7c"]]},{"id":"6cea5730.4ec7b8","type":"ui_button","z":"b47e4440.f97278","name":"","group":"159fd603.b44a6a","order":0,"width":0,"height":0,"passthru":false,"label":"TestPrg1 Ausführen","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["fbec45f2.934d78"]]},{"id":"ab21a09c.a2fd3","type":"ui_text","z":"b47e4440.f97278","group":"159fd603.b44a6a","order":0,"width":0,"height":0,"name":"","label":"Letzte Ausführung:","format":"{{msg.payload}}","layout":"row-left","x":410,"y":240,"wires":[]},{"id":"703e3585.017a7c","type":"function","z":"b47e4440.f97278","name":"Zeitstempel formatieren","func":"const ts = new Date(msg.ts);\n\nconst payload = ts.getFullYear() + '-' +\n  ('0' + (ts.getMonth() + 1)).slice(-2) + '-' +\n  ('0' + ts.getDate()).slice(-2) + ' ' +\n  ('0' + ts.getHours()).slice(-2) + ':' +\n  ('0' + ts.getMinutes()).slice(-2) + ':' +\n  ('0' + ts.getSeconds()).slice(-2);\n  \n\nreturn {payload};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["ab21a09c.a2fd3"]]},{"id":"e7819e5e.98121","type":"ccu-value","z":"cdb7abff.3cf718","name":"BidCoS-RF:1 PRESS_SHORT","iface":"BidCos-RF","channel":"BidCoS-RF:1 HM-RCV-50 BidCoS-RF:1","datapoint":"PRESS_SHORT","mode":"","start":true,"change":false,"cache":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":350,"y":160,"wires":[[]]},{"id":"864a7dab.c5de7","type":"ui_button","z":"cdb7abff.3cf718","name":"","group":"65a72644.483318","order":0,"width":0,"height":0,"passthru":false,"label":"Kurzer Tastendruck","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":100,"wires":[["e7819e5e.98121"]]},{"id":"20ada9c2.396ad6","type":"ccu-value","z":"cdb7abff.3cf718","name":"BidCoS-RF:1 PRESS_LONG","iface":"BidCos-RF","channel":"BidCoS-RF:1 HM-RCV-50 BidCoS-RF:1","datapoint":"PRESS_LONG","mode":"","start":true,"change":false,"cache":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":340,"y":300,"wires":[[]]},{"id":"e50e17e5.e1c3f8","type":"ui_button","z":"cdb7abff.3cf718","name":"","group":"65a72644.483318","order":0,"width":0,"height":0,"passthru":false,"label":"Langer Tastendruck","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":240,"wires":[["20ada9c2.396ad6"]]},{"id":"b85e2bd1.b4cdb8","type":"ccu-rpc-event","z":"cdb7abff.3cf718","name":"Wohnzimmer Temperatur","iface":"BidCos-RF","ccuConfig":"38263145.35ea0e","rooms":"Wohnzimmer","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","datapoint":"TEMPERATURE","datapointRx":"str","change":true,"cache":true,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":190,"y":400,"wires":[["fe777e33.98594"]]},{"id":"fe777e33.98594","type":"combine-statistic","z":"cdb7abff.3cf718","name":"Durchschnitt","topic":"","operator":"mean","defer":250,"timeout":0,"distinction":"topic","x":290,"y":460,"wires":[["f2e8285b.82c4a8"]]},{"id":"f2e8285b.82c4a8","type":"ui_text","z":"cdb7abff.3cf718","group":"65a72644.483318","order":0,"width":0,"height":0,"name":"","label":"Temperatur Wohnzimmer:","format":"{{msg.payload}}°C","layout":"row-left","x":410,"y":520,"wires":[]},{"id":"e086ebe0.bcd118","type":"ui_template","z":"d2aa9e3f.51894","group":"40844f8.1cf98b","name":"Liste unerreichbarer Geräte","order":2,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":640,"y":240,"wires":[[]]},{"id":"9441636.6ae2ea","type":"ui_text","z":"d2aa9e3f.51894","group":"40844f8.1cf98b","order":1,"width":0,"height":0,"name":"","label":"Anzahl unerreichbarer Geräte:","format":"{{msg.payload}}","layout":"row-left","x":630,"y":180,"wires":[]},{"id":"6218a729.10c688","type":"ccu-rpc-event","z":"d2aa9e3f.51894","name":"UNREACH","iface":"","ccuConfig":"38263145.35ea0e","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"UNREACH","datapointRx":"str","change":true,"working":false,"cache":true,"topic":"${deviceName}","x":80,"y":180,"wires":[["c1478bb4.c4d668"]]},{"id":"c1478bb4.c4d668","type":"combine-statistic","z":"d2aa9e3f.51894","name":"","topic":"","operator":"len","falsy":"exclude","defer":250,"timeout":0,"distinction":"topic","x":220,"y":180,"wires":[["9441636.6ae2ea","30d685f8.b2a4aa"]]},{"id":"30d685f8.b2a4aa","type":"function","z":"d2aa9e3f.51894","name":"Liste erzeugen","func":"msg.payload = msg.topics.join(', ');\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["e086ebe0.bcd118"]]}]